@media screen and (max-width: 390px) {
  /* header */
  .header {
    padding: 10px;
  }
  .mainNav {
    display: none;
  }

  /* home */
  .home-first-section {
    > h1 {
      font-size: 40px;
      margin-bottom: 15px;
    }
    > p {
      font-size: 20px;
    }
    > button {
      padding: 15px 45px;
      font-size: 30px;
    }
  }

  /* oneToMany */
  .oneToMany-first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 18px;
    height: 200px;
    > p {
      font-size: 16px;
    }
  }
  .oneToMany-second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .oneToMany-add-name {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    > span {
      font-size: 10px;
      padding: 8px;
      top: -18px;
    }
    > input {
      min-width: 200px;
      max-width: 200px;
      margin: 0;
    }
    > button {
      margin: 0;
      min-width: 50px;
      font-size: 10px;
      padding: 6px 0;
      color: #fff;
      background-color: #2f4858;
    }
  }
  .oneToMany-select-name {
    width: 300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    > span {
      font-size: 10px;
      padding: 8px;
      top: -18px;
    }
    > button {
      padding: 5px 10px;
      font-size: 15px;
    }
  }
  .oneToMany-third-section {
    width: 300px;
    padding: 0;
    margin: 0 auto;
    > span {
      font-size: 20px;
    }
  }
  .oneToMany-cards-wrap {
    width: 300px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .oneToMany-card {
    max-width: 300px;
    min-width: 300px;
  }
  .oneToMany-card-first-article {
    height: 50px;
    > span {
      width: 30px;
      height: 30px;
      font-size: 20px;
    }
    > p {
      margin-top: 5px;
      margin-left: 10px;
      font-size: 25px;
    }
    .oneToMany-card-image {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      > img {
        width: 10px;
        height: 10px;
      }
    }
  }
  .oneToMany-card-second-article {
    height: 300px;
  }
  .oneToMany-card-third-article {
    height: 50px;
    > svg {
      width: 20px;
      height: 20px;
    }
  }
  .oneToMany-fourth-section {
    width: 300px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
    > button {
      padding: 10px 20px;
      font-size: 20px;
    }
  }

  /* Modal */
  .modalWrap {
    width: 250px;
    height: 200px;
    margin: 0 auto;
    font-size: 20px;
    > p {
      top: 40%;
    }
    > button {
      padding: 10px;
      font-size: 20px;
      background-color: #201e33;
      color: #fff;
    }
  }

  /* oneToManyResult */
  .oneToMany-result-first-section {
    > .oneToMany-result-first-title {
      font-size: 30px;
      margin: 0 auto;
    }
  }
  .oneToMany-result-matching-result {
    width: 300px;
    margin: 0 auto;
    padding: 20px 0;
  }
  .oneToMany-result-second-section {
    width: 350px;
    margin: 0 auto;
    padding: 0;
    > .oneToMany-result-matching-result {
      width: 350px;
      margin: 0 auto;
      > span {
        font-size: 15px;
        padding: 8px;
        top: -18px;
      }
    }
  }
  .oneToMany-result-cards-wrap {
    width: 350px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .oneToMany-result-card {
    box-sizing: border-box;
    max-width: 300px;
    min-width: 300px;
    margin: 0 auto;
  }
  .oneToMany-result-third-section {
    width: 300px;
    padding: 0;
    margin: 0 auto;
    > span {
      font-size: 20px;
    }
  }
}
